* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#282424 ;
  }
  nav {
    height: 80px;
    background: #282424;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 calc((100vw - 1300px) / 2);
  }
  .logo {
    color: #FFC8DD;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    padding: 0 32px;
  }
  nav a {
    text-decoration: none;
    color: #FFC8DD;
    padding: 0 24px;
  }
  nav a:hover {
    color: #c792a6;
  }
  .container {
    text-align: center;
}

.image {
    max-width: 400px;
    height: auto;
}